*{
    background-color: aqua;
    margin: 0;
    padding: 0;
}
h2{
    color: brown;
    font-size: 3.5rem;
}
#btn{
    background-color: blue;
    color: aliceblue;
    border-radius: 8px;
    height: 40px;
}
#btn1{
    background-color: rgb(33, 5, 23);
    color: aliceblue;
    border-radius: 8px;
    height: 40px;
}
.content{
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
}